/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

/* Estilo geral para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Freeman', sans-serif; /* Definindo a fonte global */
}

body {
  background-image: linear-gradient(
    to right,
    #11b4d993,
    rgba(128, 128, 128, 0.39),
    #0b7abfa1,
    rgba(128, 128, 128, 0.39),
    #11b4d993
  );
}

nav {
  background: #ffffffb0;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: 6px 6px 6px black;
}

.logo img {
  max-width: 100%;
  height: auto; /* Garante que a imagem não distorça */
  max-height: 550px; /* Para telas grandes */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: black; /* Preto para o texto na nav, pois a nav é branca */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Animação suave para cor e sombra */
  text-shadow: 1px 1px 20px #0B6BBF; /* Sombra suave para o texto */
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0B6BBF;
  text-shadow: 2px 2px 5px #11b4d960; /* Sombra mais forte ao passar o mouse */
}

/* Hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: black;
}

/* Estilo para a classe .link-vendas */
.link-vendas {
  color: black; /* Cor preta para o link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Animação suave para cor e sombra */
  text-shadow: 1px 1px 20px rgb(0, 0, 0); /* Sombra suave para o texto */
}

/* Efeito de animação ao passar o mouse sobre o link */
.link-vendas:hover {
  color: rgba(0, 0, 0, 0.548); /* Cor amarela ao passar o mouse */
  text-shadow: 2px 2px 5px rgba(2, 178, 248, 0.418); /* Sombra mais forte ao passar o mouse */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  .logo img {
    max-height: 300px; /* Ajusta a altura da logo para dispositivos móveis */
    width: auto; /* Garante que a imagem tenha proporção correta */
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #ffffff; /* A nav será branca também no mobile */
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}

/* Ajuste da largura das colunas */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* Ajusta o estilo das imagens no carrossel para que alinhem com o conteúdo */
.carousel-item img {
  width: 100%; /* Para garantir que as imagens ocupem toda a largura do carrossel */
  height: auto;
  max-width: 770px; /* Limite o tamanho das imagens */
  margin-left: 0;
  margin-right: 0;
  box-shadow: 1px 1px 8px black;
}

/* Ajuste do texto dentro das abas */
.tab-pane {
  padding-left: 15px;
  padding-right: 15px;
}

/* Alinhamento do conteúdo da aba para que comece na mesma posição que a imagem */
.tab-content {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Evitar o overflow do texto */
.tab-pane p {
  word-wrap: break-word;
}

/* Justificar texto nas abas */
#v-pills-home p, /* Bibliografia */
#v-pills-profile p { /* 333Tour */
  text-align: justify;
}

/* Ajuste para o carrossel e conteúdo visual */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Footer */
footer {
  background-color: #000000; /* Preto */
  color: white; /* Texto branco no footer */
  padding: 20px;
  text-align: center;
}

/* Estilo para os botões Bibliografia e 333Tour */
.nav-link-bibliografia {
  color: black; /* Cor do texto */
  background-color: #f0f0f0; /* Cor de fundo inicial */
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s; /* Efeito suave ao passar o mouse */
}

/* Efeito ao passar o mouse sobre o botão Bibliografia */
.nav-link-bibliografia:hover {
  background-color: #021d40; /* Muda a cor de fundo ao passar o mouse */
  color: white; /* Muda a cor do texto ao passar o mouse */
  border: 2px solid #11b4d9; /* Borda amarela */
}

/* Efeito quando o botão Bibliografia estiver ativo */
.nav-link-bibliografia.active {
  background-color: #ffffffb0; /* Cor de fundo quando ativo */
  color: white; /* Cor do texto quando ativo */
  border: 2px solid black; /* Borda amarela quando ativo */
}

/* Estilo para o botão 333Tour */
.nav-link-333tour {
  color: black; /* Cor do texto */
  background-color: #f0f0f0; /* Cor de fundo inicial */
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s; /* Efeito suave ao passar o mouse */
}

/* Efeito ao passar o mouse sobre o botão 333Tour */
.nav-link-333tour:hover {
  background-color: #021d40; /* Muda a cor de fundo ao passar o mouse */
  color: white; /* Muda a cor do texto ao passar o mouse */
  border: 2px solid #11b4d9; /* Borda amarela */
}

/* Efeito quando o botão 333Tour estiver ativo */
.nav-link-333tour.active {
  background-color: #ffffffb0; /* Cor de fundo quando ativo */
  color: white; /* Cor do texto quando ativo */
  border: 2px solid black; /* Borda amarela quando ativo */
}

/* Estilo para os botões Músicas, Álbuns e 30PRAUM */
.navbar-brand {
  font-size: 18px;
  padding: 10px 20px;
  color: black; /* Cor do texto */
  background-color: #ffffffb0; /* Cor de fundo inicial */
  transition: all 0.3s; /* Efeito suave ao passar o mouse */
}

.navbar-brand:hover {
  background-color: #ffffffb0; /* Muda a cor de fundo ao passar o mouse */
  color: black; /* Muda a cor do texto ao passar o mouse */
  border: 3px solid #11b4d9; /* Borda amarela */
}

/* Efeito quando o botão Músicas, Álbuns ou 30PRAUM estiver ativo */
.navbar-brand.active {
  background-color: #ffffffb0; /* Cor de fundo quando ativo */
  color: white; /* Cor do texto quando ativo */
  border: 2px solid black; /* Borda amarela quando ativo */
}

.rodape {
  color: white; /* Cor preta para o link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Animação suave para cor e sombra */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra suave para o texto */
}

/* Efeito de animação ao passar o mouse sobre o link */
.rodape:hover {
  color: rgba(255, 255, 255, 0.685); /* Cor amarela ao passar o mouse */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Sombra mais forte ao passar o mouse */
}

/* Justificar e colocar em itálico o texto dentro da div .playlist-container */
.playlist-container {
  text-align: justify;   /* Justificando o texto */
  font-style: italic;    /* Colocando o texto em itálico */
}

/* Carrossel */
.carousel-inner .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto translúcido */
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%; /* Posiciona no centro da imagem */
  transform: translateX(-50%); /* Ajusta a posição para o centro exato */
  width: 90%; /* A largura será 90% da largura do contêiner */
  max-width: 770px; /* Limita a largura máxima para 770px */
  min-width: 250px; /* Garante que a largura mínima seja 250px para evitar que o fundo desapareça */
  text-align: center; /* Centraliza o texto */
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

@media (max-width: 768px) {
  .carousel-inner .carousel-caption {
    width: 95%; /* Quando a tela for menor, a largura será 95% */
    padding: 5px 10px; /* Ajuste o padding em telas menores */
    min-width: 200px; /* Garante que a legenda não seja muito estreita em telas pequenas */
  }
}
